@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("./palette.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  overflow-x: hidden;
}
/*color sheme end */

.container,
.navbar {
  background: var(--light);
  padding: 0.3rem 0rem;
}
/*  */
h1,
h2,
h3 {
  color: var(--dark);
}
/* utitlites */
.theme-icon {
  transform: translateY(2px);
}
.d-flex {
  display: flex;
}
.d-flex.gap-1 {
  gap: 1rem;
}
.align-items-center {
  align-items: center;
}
.align-self-center {
  align-self: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-self-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-self-between {
  justify-content: space-between;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-body {
  color: var(--dark);
  font-size: 16px !important;
  font-weight: 500;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.card {
  margin: 1.5rem auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow);
}
/* Utilities end */
/* components */
/* Navbar */
.shadow-1 {
  box-shadow: 0 4px 4px var(--shadow);
}
.shadow-2 {
  box-shadow: var(--shadow-color-2-1) 0px 1px 2px 0px,
    var(--shadow-color-2-2) 0px 2px 6px 2px;
}
.shadow-3 {
  box-shadow: 0 4px 12px var(--shadow);
}
nav.navbar .container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: auto;
}
a.btn.btn-primary.icon-btn:hover {
  color: var(--light);
}
nav.navbar ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: 0.1s;
  font-size: 18px;
}
a:hover {
  color: var(--primary);
}
/* button start */
.btn {
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
.btn-primary {
  color: var(--light);
  background: var(--primary);
  max-width: fit-content;
}
.btn:hover,
.btn:focus {
  background: var(--dark);
}
.btn-outline-primary {
  border: 1px solid var(--primary);
  color: var(--primary);
  background: none;
}
.btn-outline-primary:hover {
  color: var(--light);
  border-color: var(--dark);
}

.icon-btn {
  max-width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.btn-sm {
  padding: 0.3rem 0.5rem;
  font-size: 14px;
  font-weight: 500;
}
/* button end */
/* blog list */

.blog-section-title {
  padding: 0rem 1rem;
  border-bottom: 1px solid var(--divider);
  min-width: 100%;
  padding-bottom: 0.3rem;
  line-height: 2.5rem;
}
ul li.blog-preview,
.create-blog,
.blog-full {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}
ul li.blog-preview,
.blog-full {
  border-bottom: 1px solid var(--divider);
}

/* ul li.blog-preview {
  align-items: flex-start;
} */
ul li.blog-preview:hover {
  /* box-shadow: 0 4px 12px var(--shadow); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
ul li.blog-preview .blog-title {
  transition: 0.2s;
}
ul li.blog-preview:hover .blog-title {
  color: var(--primary);
}
li.blog-preview .blog-body {
  color: var(--dark);
  font-weight: 500;
}
li.blog-preview .blog-author {
  color: var(--secondary-text);
  font-weight: 400;
}
.read-more {
  font-size: 16px;
}
.loading {
  text-align: center;
  margin: 1rem 0;
}
.loader {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 3px solid var(--primary);
  border-bottom: 3px solid transparent;
  display: inline-block;
  animation: rotate 0.5s cubic-bezier(0.58, 0.29, 0.53, 0.79) infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.material-icons.icon-add {
  transform: translate(6px);
}
/* create Compoenent */

form.create-blog {
  gap: 2rem;
  padding: 1rem 3rem;
}
.form-group {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.form-group label {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark);
}
p {
  font-size: 18px !important;
  font-weight: 500;
  /* text-align: center; */
}
p.blog-author {
  font-size: 18px !important;
  font-weight: 500;
  /* text-align: center; */
  color: var(--secondary-text);
}
input,
textarea,
select {
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--divider);
  font-size: 1.1rem;
  font-weight: 400;
  background: var(--light);
  color: var(--dark);
}
textarea {
  resize: vertical;
  min-height: 2.5rem;
}
input:hover,
select:hover,
textarea:hover {
  border-color: var(--primary);
}

.btn-group {
  display: flex;
  gap: 1rem;
}
/* blog details */
.blog-full {
  padding: 0 1rem 1rem;
}
.blog-full .blog-section-title {
  padding: 0.5rem 0;
  border: 0;
}
.blog-body {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-text);
  /* text-align: center; */
}
/* grid layout homepage */
.blog-cards {
  /* box-shadow: 0 4px 8px var(--divider);
   */
  font-size: auto;
}
.blog-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 1rem;
  align-items: center;
}
.blog-grid-card {
  padding: 0.5rem;
  max-width: 30%;
  /* box-shadow: 0 4px 12px var(--divider); */
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--divider);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  transition: 0.2s;
}
.blog-grid-card:hover {
  border-color: var(--primary);
}
/* error */
.error {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}
/* Footer */
.footer {
  text-align: center;
  background: #1e1e1e;
  color: #d9d9d9;
}
.footer .container {
  text-align: center;
  background: var(--primary-text);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem 0;
}
.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.social-links a {
  color: #d9d9d9;
  font-size: 1.5rem;
}
.social-links a:hover {
  color: var(--primary);
}
.copyright {
  transform: translateY(5px);
}
/* icon only btn */
.icon-only-btn.material-icons {
  color: var(--secondary-text);
  font-size: 30px;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
}
.icon-inline {
  transform: translateY(5px);
}
.mx-1 {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.icon-only-btn.material-icons:hover {
  color: var(--primary);
}
/* grid layout */
ul.blog-grid-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}
li.blog-card {
  width: clamp(250px, 33%, 2rem);
  padding: 0.7rem;
  border-radius: 5px;
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  flex-direction: column;
  align-self: normal;
  border: 1px solid var(--divider);
  transition: 0.1s;
}
li.blog-card:hover {
  border: 1px solid var(--primary);
}
li.blog-card:hover .blog-title {
  color: var(--primary);
}
button.icon-only-btn.material-icons::after {
  /* content: ""; */
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2px;
  border: 1px solid var(--dark);
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
button.icon-only-btn.material-icons:hover::after {
  border: 1px solid var(--primary);
}
@media only screen and (max-width: 256px) {
  html {
    font-size: 62.5%;
  }
  h1,
  h2,
  h3 {
    font-size: 125%;
  }
}
.container.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 768px) {
  .nav-items,
  .navbar {
    flex-direction: column;
  }
  .nav-items {
    display: none;
  }
  /* .Navbar__Items--right {
    margin-left: 0;
  } */
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}
/* tags */
.tags-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.2rem;
}
.tag-item {
  background: var(--shadow-color-2-2);
  border-radius: 3px;
  color: var(--dark);
  padding: 0.3rem 0.4rem 0.3rem 1.6rem;
  position: relative;
  transition: color 0.2s;
  display: flex;
  gap: 0.5rem;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.tag-item .tag-text {
  text-decoration: none;
  text-transform: capitalize;
  line-height: 26px;
}
.tag-item .tag-clear-btn {
  cursor: pointer;
}
.tag-item::before {
  background: #fff;
  border-radius: 500px;
  box-shadow: inset 0 1px rgb(0 0 0 / 25%);
  content: "";
  height: 8px;
  left: 10px;
  position: absolute;
  width: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.tag-item::after {
  border-bottom: 13px solid transparent;
  border-left: 10px solid var(--shadow-color-2-2);
  border-top: 13px solid transparent;
  /* content: ""; */
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
}

.tag-item:hover {
  background-color: crimson;
  color: white;
}

.tag-item:hover::after {
  border-left-color: crimson;
}
